

@media screen and (min-device-width:768px) and (max-device-width:960px){
    .img-txt{
        flex-wrap:wrap;
    }
   
}
@media screen and (min-device-width: 770px) and (max-device-width: 1080px){
    .text h2{
        font-size:30px !important;
    }
    
}
@media screen and (min-device-width:1080px) and (max-device-width: 1119px){
    .side_space{
        padding-right:40px!important;
        padding-left:40px!important;
    }
    .email{
        padding-right: 60px!important;
    }
}
@media screen and (min-device-width:1120px) and (max-device-width:1280px){
    .logo img{
        height:100px;
    }
    .email{
        display:flex;
        align-items: center;
        padding-right: 90px;
        
    }
    .side_space{
        padding-right:60px!important;
        padding-left:60px!important;
    }   
}

@media (max-width:1200px){
    .side_space{
        padding-right:90px!important;
        padding-left:90px!important;
    }   
    .email{
        padding-right: 30px!important;
    }
    .logoimg{
        height: 110px!important;
    }
    .bg-img{
        width:400px!important;
        left:3px
    }
    .bg-img1{
        width:400px!important;
        left:3px
    }
    .para{
        padding-left: 10px!important;
    }
}
@media (max-width:768px){
    
    .divirow{
        flex-wrap: wrap;
        justify-content: center!important;
    }
    .logo{
        justify-content: center!important;
        flex-direction: column;
        align-items: center;
    }
    .logo img{
        height:90px!important;
    }
    
    .text{
        width:100%!important;
        text-align: center;
    }
    .txt1 {
        padding-left:0px!important;
        text-align: center;
        width:100%!important;
    }
    .txt1  p{
        font-size: 16px!important;
    }
    .para p{
        font-size: 16px!important;
    }
    
    .li1{
        font-size:15px!important;
    }
    .img-para {
        flex-direction:column!important;
        align-items: center!important;
    }
    .bg-img{
        margin-top:30px;
        width:520px!important;
    }
    .bg-img1{
        width:520px!important;
    }
    .video-txt{
        flex-direction: column;

    }
    .video{
        display:flex;
        justify-content: center!important;
    }
    .block-txt{
        display:block;
        margin-left: auto;
        margin-right:auto;
        padding-left:0px!important;
    }
    .sect-h2{
        font-size:25px!important;
    }
    .divirow{
        padding-bottom:20px!important;
    }
    .side_space{
        padding-right:10px!important;
        padding-left:10px!important;
    }
    .email{
        padding-right:20px!important;
    }
    .img-txt{
        flex-direction: column!important;
        align-items: center!important;
    
    }
    .para{
        text-align: center!important;
    }
    
   
}
@media(max-width:576px){

    .logo{
        margin-left:auto!important;
        margin-right:auto!important;
    }
    .logo img{
        height:90px!important;
    }
    .contact{
        margin-top:20px!important;
        padding-bottom:20px!important;
    }
    .email{
        padding-right:20px!important;
    }

    .show{
        display:block!important;
    }
    .hide{
        display:None;
    }
    .quote_req button{
        width:180px!important;
    }
    .menu{
        display:none!important;
    }
    .hamburger{
        display:inline-block!important;
    }
    .search{
        display:inline-block!important;
    }
    .menu2{
        display:none!important;
    }
    .mobile_menu2{
        display:block!important;
    }
    .mobile_menu2 select{
        border-color: #600010;
        width: 90%;
        font-size: 15px;
        font-weight: 500;
        padding: 10px;
        border-radius: 8px;
        margin-top: 10px;
        box-sizing: content-box;
        margin-left: auto;
        margin-right: auto;
        display:block;
    }
    .video iframe{
     width:90%;
    }
    .bg-img{
        display:block;
        margin-left: auto;
        margin-right: auto;
        width:330px!important;
        
    }
    .bg-img1{
        display:block;
        margin-left: auto;
        margin-right: auto;
        width:330px!important;
    }
    .brochure{
        font-size: 18px!important;
    }
    .specs{
        font-size:18px!important;
    }
}

body{
    margin:0;
}

.logo{
    display:flex;
    justify-content: space-between;   
}
.logoimg{
    height:150px;
}
.show{
    display:none;
}
.contact{
    display:flex;
    align-items:center;
}
.hamburger{
    display:none;
}
.search{
    display:none;
}
.email{
    font-family:Nunito Sans, Bold;
    font-size:18px;
    color:#600010;
    line-height:24px;
    display:flex;
    align-items: center;
    padding-right:100px;
}
.quote_req button{
    border-radius:20px;
    color:#ffffff;
    background:#600010;
    padding:10px;
    font-size:17px;
    font-weight: 700;
    width:223px;
    
}

.menu{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #f5f5f5;
    padding-top: 22px;
    padding-bottom: 22px;
    margin-top:5px;
    font-family:Nunito Sans, Bold;
    font-size:17px;
    color:#1c1c1c;
    line-height:23px;

}
.section1{
    background:url("pipeline.jpg");
    background-repeat: no-repeat;
    height: 600px;
    background-size: cover;
    background-position: bottom;
    color:#ffffff;
    position:relative;
    height:600px;
}
.side_space{
    padding-left:145px;
    padding-right: 145px;
}

.h4 section1{
    color:#f5f5f5;
    font-family: roboto light;
    
}
.text_bg{
    background-color:#600010d6;
    position:absolute;
    bottom:0;
    right:0px;
    left:0px;
}
.text{
    font-family:roboto bold;
    width:60%;
    padding-top:10px;
   
   }
   .text h3{
    font-size: 18px;
    font-family: roboto;
    font-weight: 300;
    margin-bottom:0;
}
   .text h2{
    font-family: 'Roboto';
    font-size: 45px;
    font-weight: 600;
    margin-top:10px;
    margin-bottom:26px;


   }
.divirow{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.btn{
    border-radius:20px;
    color:#600010;
    border:2px solid #ffffff;
    background:#ffffff;
    padding:10px;
    font-size:19px;
    font-weight: 700;
    width:218px;
    
}
.menu2{
    display:flex;
    background:#efefef;
}
.mobile_menu2{
    display:none;
}
.li1{
    font-size: 17px;
    font-family: 'Roboto';
    font-weight: 600;
    color: #1c1c1c;
    flex:1;
    text-align: center;
    border-right: 2px solid #ffffff;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-txt{
    display:none;
    padding-top:50px;
    
}
.txt1 {
     padding-left: 96px;
    width: 35%;
    }

.tabdisplay{
    display:flex !important;
}
.txt1 p {
    font-size: 18px;
    font-family: "nunito sans";
    color: #1c1c1c;
}
.txt1 h3{
    color: #9f0033;
    font-size: 30px;
    margin-bottom: 20px;
}
.txt1 button{
    width:150px;
    background-color: #600010;
    color:#ffffff;
    border-radius:100px;
    font-size: 19px;
    padding:10px;
}
.section3 h3{
    text-align: center;
    font-size:24px;
    color:#ffffff;
    padding-top:50px;
    margin-top: 0px;
}
.bg-color{
    background-color: #600010b0;
    padding-bottom:50px;
}
.section3{
    background:url("HTB17_g0XODxK1Rjy1zc761GeXXa1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
   
}
.video-txt{
    display:flex;
    justify-content: center;
    
}
.video{
    padding-right:15px;
}
.video iframe{
    border-radius:8px;
}
.block-txt{
    padding-left:15px;
}
.bg-img{
    position: relative;
    width: 540px;
    height: 195px;
    overflow: hidden;
    border-radius: 8px;
}
.bg-img1{

    margin-top:30px;
    position: relative;
    width: 540px;
    height: 195px;
    overflow: hidden;
    border-radius: 8px;
}
.bg-color h3{
    font-size:36px;
    font-family: roboto;
    font-weight: 600;
}
.brochure{
    background-color: #600010;
    color:#ffffff;
    padding:15px;
    width:40%;
    position:absolute;
    bottom:40;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 20px;
    font-family: 'Roboto';
    font-weight: 600;
}
.specs{
    background-color: #600010;
    color:#ffffff;
    padding:15px;
    width:40%;
    position:absolute;
    bottom:40;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 20px;
    font-family: 'Roboto';
    font-weight: 600;

}
.img-para {
    display:flex;
    padding-top:45px;
    padding-bottom: 45px;
    justify-content: center;
}
.para h3{
    color:#9f0033;
    font-size: 36px;
    font-family: 'Roboto';
    font-weight: 600;
}
.para{
    width:90%;
    padding-left:122px;
}
.para p{
    font-size: 18px;
    font-family: "nunito sans";
    color:#1c1c1c;
}
.para button{
    border-radius:100px;
    color:#ffffff;
    background-color:#600010;
    padding:10px;
    font-size:17px;
    font-weight: 600;
    margin-top:10px;
    width:245px;
}
.img-txt{
    background:url("sketch.jpg");
    background-repeat: no-repeat;
    background-position: right;
    background-size:cover;
    padding-bottom:30px;
}
.last_img img{

    width:100%;
}
/* .newbg{
    position:absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
    opacity:0.2;
} */